!!!
%html
  %head
    %title Murdoc
    %style=stylesheet
  %body
    - annotated_files.each do |af|
      .document{:class => af.source_type}
        - af.formatted_paragraphs.each_with_index do |p, j|
          - unless p.annotation.empty?
            %section
              - if j == 0
                %label= af.filename
              = p.formatted_annotation
          - unless p.source.empty?
            %figure
              %ol
                - 1.upto(p.source.split("\n").size) do |i|
                  %li= i + p.starting_line
              <code>#{p.formatted_source.gsub("\n", '&#x000A;')}</code>
