html, body {
  min-height: 100%;
  line-height: 1.5; }

p, h1, h2, h3, ol, li, ul, dt, dd, dl, body, html {
  padding: 0;
  margin: 0; }

p + br {
  display: none;
}

body {
  width: 40%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background: #BFA730;
  font-family: Helvetica; }
  body:after {
    content: ".";
    font-size: 0.01em;
    line-height: 0.01em;
    display: block;
    clear: both; }

figure#relations h2 ~ h2 {
  margin-top: 1.5em; }

body > * {
  padding-left: 6%;
  padding-right: 6%; }

html {
  background: #FFC873; }

header {
  background: rgba(255, 255, 255, 0.1);
  display: block; }
  header dl {
    margin-top: 2em;
    font-size: 0.75em;
    line-height: 2em;
    overflow: hidden; }
    header dl dt {
      width: 5em;
      font-weight: bold; }

section {
  float: left;
  clear: both;
  width: 85%; }

section iframe {
  width: 260%;
  height: 250px;
  border: 1px solid #333;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

section iframe.high {
  height: 300px;
}


p, dl, li {
  color: #665504;
  font-weight: normal; }

a {
  color: #BF7330; }
  a:hover {
    color: #FF7800; }
  a:visited {
    color: #A64E00; }

p + p, h2 + p, h1 + p, ul + p, ol + p{
  margin-top: 1.5em; }

p code {
  background-color: rgba(200, 220, 200, 0.2);
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 0.2em;
  font-family: "monaco", "Courier New", Courier, monospace, serif;
  font-size:0.8em;
  line-height:1.5em;
}
p:last-child {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2em; }

h1 + ul {
  float: right;
  width: 140%;
  margin-right: -160%;
  margin-top: -2em;
}

h1 + ul li {
  display: inline;
}

h1 + ul li + li{
  margin-left: 1em;
}

h2 {
  font-size: 1em; }

h1, h2, h3 {
  color: #A41717; }

ol, li {
  margin-left: 1em; }

body > p, body > h1 {
  clear: left; }

body > h2 {
  clear: both;
}

header {
  padding-bottom: 1em;
  overflow: hidden; }


dl {
  clear: left; }
  dl dt, dl dd {
    float: left; }
  dl dt {
    clear: left; }
  dl dd {
    margin-left: 1em; }

figure {
  display: block;
  float: right;
  margin-right: -135%;
  width: 122.75%;
  clear: right;
  margin-top: -0.1em;
  padding: 0 0 3em; }
  figure > ol {
    font-family: 0.75em/2.25em Arial;
    text-shadow: 0 1px 0 #eee;
    -moz-text-shadow: 0 1px 0 #eee;
    -webkit-text-shadow: 0 1px 0 #eee;
    box-shadow: 0 1px 2px #333;
    -moz-box-shadow: 0 1px 2px #333;
    -webkit-box-shadow: 0 1px 2px #333;
    width: 7.5%;
    text-align: right;
    float: left;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    list-style: none;
    margin-left: -9.25%; }
    figure > ol li {
      background: rgba(125, 125, 125, 0.4);
      margin: 0; }
    figure > ol li:first-child {
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em; }
    figure > ol li:last-child {
      border-bottom-left-radius: 0.2em;
      border-bottom-right-radius: 0.2em; }
    figure > ol li.new {
      background: #98B72E; }
    figure > ol li.changed {
      background: #FFBD40; }
  figure > code {
    font-size: 1em;
    line-height: 1.5em;
    font-family: "monaco", "Courier New", Courier, monospace, serif;
    white-space: pre; }

body .hll {
  background-color: #ffffcc; }
body .c {
  color: #408080;
  font-style: italic; }
body .err {
  border: 1px solid #FF0000; }
body .k {
  color: #954121; }
body .o {
  color: #666666; }
body .cm {
  color: #408080;
  font-style: italic; }
body .cp {
  color: #BC7A00; }
body .c1, body .cs {
  color: #408080;
  font-style: italic; }
body .gd {
  color: #A00000; }
body .ge {
  font-style: italic; }
body .gr {
  color: #FF0000; }
body .gh {
  color: #000080;
  font-weight: bold; }
body .gi {
  color: #00A000; }
body .go {
  color: #808080; }
body .gp {
  color: #000080;
  font-weight: bold; }
body .gs {
  font-weight: bold; }
body .gu {
  color: #800080;
  font-weight: bold; }
body .gt {
  color: #0040D0; }
body .kc {
  color: #954121; }
body .kd, body .kn {
  color: #954121;
  font-weight: bold; }
body .kp {
  color: #954121; }
body .kr {
  color: #954121;
  font-weight: bold; }
body .kt {
  color: #B00040; }
body .m {
  color: #666666; }
body .s {
  color: #219161; }
body .na {
  color: #7D9029; }
body .nb {
  color: #954121; }
body .nc {
  color: #0000FF;
  font-weight: bold; }
body .no {
  color: #880000; }
body .nd {
  color: #AA22FF; }
body .ni {
  color: #999999;
  font-weight: bold; }
body .ne {
  color: #D2413A;
  font-weight: bold; }
body .nf {
  color: #0000FF; }
body .nl {
  color: #A0A000; }
body .nn {
  color: #0000FF;
  font-weight: bold; }
body .nt {
  color: #954121;
  font-weight: bold; }
body .nv {
  color: #19469D; }
body .ow {
  color: #AA22FF;
  font-weight: bold; }
body .w {
  color: #bbbbbb; }
body .mf, body .mh, body .mi, body .mo {
  color: #666666; }
body .sb, body .sc {
  color: #219161; }
body .sd {
  color: #219161;
  font-style: italic; }
body .s2 {
  color: #219161; }
body .se {
  color: #BB6622;
  font-weight: bold; }
body .sh {
  color: #219161; }
body .si {
  color: #BB6688;
  font-weight: bold; }
body .sx {
  color: #954121; }
body .sr {
  color: #BB6688; }
body .s1 {
  color: #219161; }
body .ss {
  color: #19469D; }
body .bp {
  color: #954121; }
body .vc, body .vg, body .vi {
  color: #19469D; }
body .il {
  color: #666666; }
